.attribution {
    margin-bottom: 4px;
    font-size: 0.6875rem;
    text-align: center;
    color: #333333;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.text-preset-1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-2-bold {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #141414;

    .main-container {
        flex: 1;
        display: grid;
        place-content: center;

        .card-container {
            display: grid;;
            place-content: center;
            gap: 24px;
            width: 384px;
            height: 611px;
            margin: 40px;
            background-color: #1F1F1F;
            border-radius: 12px;

            .profile-pic-container {
                display: grid;
                place-content: center;

                img {
                    width: 88px;
                    height: 88px;
                    border-radius: 999px;
                }
            }

            .name-location-container {
                .name-text {
                    width: 304px;
                    height: 36px;
                    text-align: center;
                    color: white;
                    margin: 0;
                }

                .location-text {
                    text-align: center;
                    color: #C4F82A;
                    margin: 0;
                }
            }

            .bio-container {
                text-align: center;
                color: white;
            }

            .social-links-container {
                display: grid;
                place-content: center;
                gap: 16px;
                width: 304px;
                height: 289px;

                .social-link-container {
                    display: grid;
                    place-content: center;
                    width: 304px;
                    height: 45px;
                    text-align: center;
                    text-decoration: none;
                    color: white;
                    transition-property: background-color, display;
                    transition-duration: 600ms;
                    background-color: #333333;
                    border-radius: 8px;

                    &:hover {
                        transition-property: background-color, display;
                        transition-duration: 600ms;
                        background-color: #C4F82A;
                        color: #333333;
                    }
                }
            }
        }
    }
}
